@font-face {
  font-family: 'Cunia';
  font-style: normal;
  font-weight: 700;
  src: local('Cunia'),
    url('https://fonts.cdnfonts.com/s/19412/Cunia.woff') format('woff');
}
* {
  -webkit-tap-highlight-color: transparent !important;
}

